<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="AccuRevPath" value="C:\Program Files (x86)\AccuRev\accurev.exe" /> <!-- path to accurev.exe -->
		<add key="AccuRevPrincipal" value="Ryan" /> <!-- AccuRev username, used when executing accurev.exe -->
		<add key="GitPath" value="C:\Development\Tools\Git\cmd\git.cmd" /> <!-- path to git.cmd -->
		<add key="DefaultGitUserName" value="Ryan LaNeve" /> <!-- used for initial commit -->
	</appSettings>
</configuration>